{% extends layout %}

{% block articles %}
  Над четири години усилен труд и 130 успешно проведени рекламни кампании, 
  доведоха до създаването на уникална рекламна стратегия, която позволява 
  достигането до голяма аудитория при запазване на ниски нива на разходи. 
  “Национална рекламна кампания чрез създаване на културен продукт” е иновативен 
  подход към рекламата, който разбива мита за скъпоструващата реклама на 
  национално ниво. Базирана на комуникацията в социалните мрежи, тя предоставя 
  възможност за прецизно таргетиране и достигане директно до потенциалните 
  клиенти за вашия продукт или услуга. Разделена на няколко етапа, стратегията 
  позволява качествено представяне на дейността на вашата фирма. Чрез видео и 
  фотозаснемане и национална PR кампания, извършени от високите професионалисти 
  на нашия екип, ние ще можем да покажем силните страни на вашия продукт или 
  услуга и да вдигнем вашия рейтинг, спрямо вашите конкуренти. От друга страна, 
  участието ви в проект, свързан със създаване на културен продукт, ще засили 
  доверието във вас и ще улесни комуникацията ви с бъдещи ваши клиенти и 
  партньори. 
  За повече информация, цени, срок на провеждане и конкретна оферта за вашата 
  фирма, моля свържете се с нашия мениджър:
  <br />
  <br />
  Цветан Карабов<br />
  0897/349554<br />
  <a href="mailto:c.k.management@abv.bg">c.k.management@abv.bg</a><br />
  <a href="http://www.cofeinband.com">www.cofeinband.com</a><br />
  <a href="http://www.facebook.com/cofeinband">www.facebook.com/cofeinband</a><br />
  <br />
  <br />
  <br />
  <i style="font-size: 80%">
      “Национална рекламна кампания чрез създаване на културен продукт” е 
      запазена марка на “Сдружение с нестопанска цел за дейност в частна полза 
      група Кофеин”. Всяко използване, копиране или пресъздаване на нейното 
      заглавие, части от нея или нейното аудио и визуално оформление, без 
      писменото разрешение на управителя на сдружението или оторизиран негов 
      представител, ще се считат за нарушение на законите на Р. България и ще 
      бъдат предприети съответните мерки.
  </i>

  <script>
      $(document).ready(function(){
         $(window).scrollTop(400); 
      });
  </script>
{% endblock %}