{% extends layout %}

{% block articles %}
<span id="partners"><h3>Репетиционна Radio Patron</h3>
<a href="https://www.radiopatron.com/" target="_blank"><img class="partners-logo" src="views/img/partners/radio-patron.png"></a>
<br/>
За повече информация посетете техния сайт или ФБ страница: 
<br/>
<a href="https://www.radiopatron.com/" target="_blank">https://www.radiopatron.com</a>
<br/>
<a href="https://www.facebook.com/radiopatron" target="_blank">https://www.facebook.com/radiopatron</a>
<br/>
<br />
</span>
<iframe width="500px" height="300px" frameborder="0" scrolling="no" src="http://www.bgmaps.com/link/map/A653413B16867FBCB1F4E7C582960844"></iframe>
<style>
    #partners {
        font-size: 110%;
    }
    
    .partners-logo {
        margin-top: 3em;
        width: 40em;
        height: 20em;
    }
   
     .map {
        margin-top: 3em;
        margin-bottom: 3em;
        width: 35em;
        height: 25em;
        background-color: #CCC;
      }
</style>
{% endblock %}