body {
    background-color: black;
}

#header {
    background-image: url('../img/mobile/background.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: auto;
    height: 120px;
}

#sponsor-logo {
    position: relative;
    bottom: 20px;
    height: 80%;
    width: 20%;
    max-width: 150px;
}

#nav-icon {
    width: 50px;
    height: 50px;
    float: right;
    margin-top: 10px;
    margin-right: 5px;
}

#nav {
    list-style-type: none;
    position: absolute;
    right: 10px;
    top: 70px;
    padding: 5px;
    background-color: #2E2E2E;
    border-radius: 10%;
    display: none;
}

#nav li {
    margin: 10px 5px 10px;
}

#nav a {
    color: whitesmoke;
    text-decoration: none;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}

#content {
    color: whitesmoke;
    padding: 5px;
    font-size: 12px;
    font-family: Rockwell, sans-serif;
    margin-top: 15px;
    overflow: hidden;
}

#content iframe {
    border: none;
    width: 300px;
    height: 200px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#content img {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 180px !important;
    width: 300px !important;  
}

.index-date {
    color: lightgray !important;
    margin-bottom: 5px;
}

.index-title {
    margin-bottom: 5px;
    font-size: 120%;
    font-weight: bold;
}

